.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.66em;
  padding: 0;
  margin-block-start: 2em;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    display: inline-block;
  }

  svg {
    height: 24px;
    width: 24px;
    display: block;
    fill: currentColor;
  }
}
