:root {
  --background: #14072E;
  --surface: lavender;
  font-size: max(2.083333vw, 16px);
}

html, body {
  margin: 0;
  background: var(--background);
  color: var(--surface);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
}

h1 {
  font-size: 3em;
  font-weight: 400;
  margin-block: 1em;
}

h2 {
  font-size: 2.6em;
  font-weight: 400;
  margin-block: 1em;
}
