:root {
  --background: #14072E;
  --surface: lavender;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  background: var(--background);
  color: var(--surface);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
}
