.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 5em 3em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  h1 {
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 1;
    display: block;
    padding: 1em;
    background: radial-gradient(var(--background) 30%, transparent 60%);
    text-shadow: 0 0 .2em var(--background);
    pointer-events: none;
  }
}

.projects {
  display: grid;
  gap: 2.5em;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.seeAll {
  text-align: center;
  margin-block: 2em 1em;
  grid-column: 1 / -1;
}

.footer {
  padding: 4em var(--gutter);
  text-align: center;

  p {
    margin: 0;
    padding-inline: 6em;

    @media (max-width: 768px) {
      padding-inline: 0;
    }
  }
}
