.wrapper {
  position: absolute;
  inset: 0;
}

@keyframes appear {
  from {
    transform: scale(.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes blink {
  from, .6% {
    transform: scaleY(1);
  }
  .2%, .4% {
    transform: scaleY(0);
  }
}

@keyframes pop {
  from {
    transform: scale(1.05);
  }
  70% {
    transform: scale(1.5);
    opacity: 1;
  }
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

.eye {
  --eye-size: 1em;
  --pupil-size: 60%;

  height: var(--eye-size);
  width: var(--eye-size);
  border-radius: 10em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(var(--eye-y) - calc(var(--eye-size) / 2));
  left: calc(var(--eye-x) - calc(var(--eye-size) / 2));
  transition: transform .15s;
  animation: appear .15s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    background: var(--surface);
    animation: blink 30s linear infinite var(--blink-delay);
    border-radius: inherit;
  }

  &::after {
    content: '';
    height: var(--pupil-size);
    width: var(--pupil-size);
    display: block;
    background: var(--background);
    border-radius: inherit;
    transform: translate(var(--pupil-x, 0), var(--pupil-y, 0));
    transition: transform .15s;
  }

  &[data-popped=true] {
    animation: pop .2s ease-in;
    animation-fill-mode: forwards;
    pointer-events: none;

    &::after {
      --pupil-size: 20%;
      transition: height .15s ease-in, width .15s ease-in;
    }
  }
}
