@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-body: var(--font-body);
  --font-meta: var(--font-meta);

  --color-cream: #ECE9E2;
  --color-charcoal: #1F1C17;
  --breakpoint-xs: 425px;
}

html {
  @apply bg-cream text-charcoal;
}

body {
  @apply font-body;
}

@utility recipe-content {
  a {
    @apply underline;
  }
  ul, ol {
    @apply space-y-1.5;
  }
  ul:not(.contains-task-list) {
    @apply list-disc pl-8;
  }
  ol {
    @apply list-decimal pl-8;
  }

  :is(p, ul, ol, blockquote):not(:last-child) {
    @apply mb-5;
  }

  h3 {
    @apply font-semibold text-lg mb-3;
  }
}
