.nav {
  background: var(--surface);
  color: var(--background);
  padding: 1em 4em;

  a {
    font-weight: 600;
    text-decoration: none;
    font-size: 1.75em;

    &:hover {
      text-decoration: underline;
    }
  }
}
